tiktok-backend/node_modules
tiktok-backend/.env
tiktok-backend/.netlify


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tiktok-frontend/node_modules
tiktok-frontend/.pnp
.pnp.js

# testing
tiktok-frontend/coverage

# production
tiktok-frontend/build

# misc
tiktok-frontend/.DS_Store
tiktok-frontend/.env.local
tiktok-frontend/.env.development.local
tiktok-frontend/.env.test.local
tiktok-frontend/.env.production.local

tiktok-frontend/npm-debug.log*
tiktok-frontend/yarn-debug.log*
tiktok-frontend/yarn-error.log*
tiktok-frontend/.firebase
tiktok-frontend/.firbaserc
